{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}This amazing shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div id="header">
        <a href="/" class="logo">My shop</a>
        <ul class="auth">
          {% if request.user.is_authenticated %}
              <li>User: <a href="{% url "shop:sale_list" %}" >{{ user.get_username }}</a></li>
              <li><a href="{% url "shop:history_price" %}">History Price</a></li>
              <li><a href="{% url "logout" %}">Logout</a></li>
          {% else %}
              <li><a href="{% url "login" %}">Login</a></li>
          {% endif %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
            <h2>Items</h2>
                {% for item in items %}
                    <div class="item">
                        <a href="{{ item.get_absolute_url }}">
                        <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                        <a href="{{ item.get_absolute_url }}">{{ item.item_name }}</a>
                        <a href="{{ item.get_absolute_url }}"><button type="button">Buy it</button></a>
                        <br>
                        ${{ item.price }}
                    </div>
                {% endfor %}
         {% endblock %}
    </div>
    {% block paginator %}
    <div class="footer">
    <nav aria-label="Page navigation">
    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
            </li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item"><a class="page-link active">{{ i }}</a></li>
            {% else %}
                <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
            <a href="?page={{page_obj.next_page_number}}" class="page-link">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
            </li>
        {% endif %}
        </ul>
    {% endif %}
    </nav>
    </div>
    <div class="time">
      {{ time }}
    </div>
    {% endblock %}
</body>
</html>