{% extends "base.html" %}
{% load static %}

{% block title %}Price History{%  endblock %}


{% block content %}
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for item in history_price %}
        <tr>
          <td>{{ item.item }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.created_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
